/* สำหรับ SolveProblem1.html */
body.solved1 {
  background-image: url('background/SolveProblems1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* สำหรับ SolveProblem2.html */
body.solved2 {
  background-image: url('background/SolveProblems2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* สำหรับ SolveProblem3.html */
body.solved3 {
  background-image: url('background/SolveProblems3.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.game-container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}

.question {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.option-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.option {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
}

.option img {
  width: 140px;  /* ขนาดที่ต้องการ */
  height: 140px; /* ขนาดที่ต้องการ */
  object-fit: contain; /* ให้รักษาสัดส่วนของรูปภาพ */
  border-radius: 5px;
}

.feedback {
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
  color: #ff4500;
}

#next-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;  /* เปลี่ยนจาก inline-block หรือ inline เป็น block */
  margin-left: auto; /* จัดตำแหน่งด้านซ้าย */
  margin-right: auto; /* จัดตำแหน่งด้านขวา */
  width: fit-content; /* กำหนดขนาดความกว้างของปุ่มให้พอดีกับเนื้อหา */
}

#next-button:hover {
  background-color: #45a049;
}
.mali-extralight {
  font-family: "Mali", serif;
  font-weight: 200;
  font-style: normal;
}

.mali-light {
  font-family: "Mali", serif;
  font-weight: 300;
  font-style: normal;
}

.mali-regular {
  font-family: "Mali", serif;
  font-weight: 400;
  font-style: normal;
}

.mali-medium {
  font-family: "Mali", serif;
  font-weight: 500;
  font-style: normal;
}

.mali-semibold {
  font-family: "Mali", serif;
  font-weight: 600;
  font-style: normal;
}

.mali-bold {
  font-family: "Mali", serif;
  font-weight: 700;
  font-style: normal;
}

.mali-extralight-italic {
  font-family: "Mali", serif;
  font-weight: 200;
  font-style: italic;
}

.mali-light-italic {
  font-family: "Mali", serif;
  font-weight: 300;
  font-style: italic;
}

.mali-regular-italic {
  font-family: "Mali", serif;
  font-weight: 400;
  font-style: italic;
}

.mali-medium-italic {
  font-family: "Mali", serif;
  font-weight: 500;
  font-style: italic;
}

.mali-semibold-italic {
  font-family: "Mali", serif;
  font-weight: 600;
  font-style: italic;
}

.mali-bold-italic {
  font-family: "Mali", serif;
  font-weight: 700;
  font-style: italic;
}
